.dashboard-container {
  display: flex;
  height: 100vh;
  background: radial-gradient(
    circle at 5% 15%,
    #f7e5c1 0%,     /* light creamy center */
    #f7d7b1 40%,    /* warm yellow */
    #f7d7b1 95%,    /* soft deeper yellow */
    #f2c58d 100%
  );
}

.sidebar {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(180deg, #5c3c94, #2f3267, #04040c);
  width: 250px;
  padding: 2rem 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 4px 0 12px rgba(0,0,0,0.2);
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
  cursor: pointer;
}

.sidebar ul li:hover {
  color: #f7d7b1;
}

.main-content {
  flex-grow: 1;
  margin: 40px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  color: #2f3267;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
  color: #2f3267;
  font-size: 2.2rem;
}

.main-content p {
  color: #333;
}

.main-content .highlight {
  color: #7450b4;
}
